doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        main
            header 
                h1=pageTitle
                nav 
                    ul 
                        li 
                            a(href="/") HOME
                        if loggedIn
                            li 
                                a(href="/users/edit") Edit Profile
                            li 
                                a(href="/users/logout") Logout
                            li 
                                a(href="/users/:id(\\d+)") #{loggedInUser.username}
                        else
                            li 
                                a(href="/join") Join
                            li 
                                a(href="/login") Login    
                        li 
                                a(href="/search") Search
                        li 
                            a(href="/videos/upload") Upload Video &uarr;
                        
                        
                        
            block content
        include partials/footer.pug