extends base

block content
    form(method="POST") 
        input(type="text", placeholder="Old password")
        input(type="password", placeholder="New password")
        input(type="password", placeholder="New password confirmation")
        input(type="submit", value="Change Password")