extends base
include mixins/video
block content   
     section.video_grid
          each video in videos 
               +video(video)
          else 
               h5 sorry nothing found
     
                    
     