extends base
include mixins/video
block content   
     nav 
          ul 
               each video in videos 
                    +video(video)
               else 
                    li sorry nothing found
                    
     