extends base
include mixins/video

block content
     div.profile
          div.profile_img
               if user.avatarUrl
                    img(src="/" + user.avatarUrl crossorigin)
               else 
                    i.fas.fa-user
          br
          span.profile_username=user.username
     section.video_grid
               each video in user.videos 
                    +video(video)
               else 
                    span.sorry_noting_found sorry nothing found