extends base.pug
include mixins/video.pug

block content   
    form.form_search(method="GET")
        input(name="keyword", type="text", placeholder="search by name", maxlength="50") 
        button  
            i.fas.fa-search
    section.video_grid
        each video in videos 
            +video(video)
