extends base

block content   
   h3 upload video
    form(method="POST")
        input(name="title", type="text", placeholders="write video title", required) 
        input(type="submit", name="submit", value="upload video")