header
    a.logo(href="/")
        i.fab.fa-youtube
    nav 
        ul 
            if loggedIn
                li 
                    a(href="/videos/upload") Upload Video &uarr;
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") Logout
                li 
                    a(href=`/users/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl === undefined
                            i.fas.fa-smile
                        else 
                            if loggedInUser.avatarUrl.includes("github")
                                img.profile_avatar(src=loggedInUser.avatarUrl crossorigin)
                            else 
                                img.profile_avatar(src="/"+ loggedInUser.avatarUrl crossorigin)
            else
                li 
                    a(href="/join") Join
                li 
                    a(href="/login") Login    
            li 
                    a(href="/search") 
                        i.fas.fa-search
            